/*
 * Editor Styles
 * @author: Nick Swider
 */

@import "lib";

/* ---------------------
				 RESET
--------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, del, em, font, img, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, nav, menu {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }


/* ---------------------
				 UTILS
--------------------- */
@btn_blue: #55b;
@btn_green: #395;
@btn_red: #b35;
@btn_black: #333;
.btn(@color: @btn_blue){
	display: inline-block;
	padding: 4px 16px;
	color: #fff;
	text-shadow: 0 1px 1px darken(@color, 20%);
	text-decoration: none;
	.gradient-background(lighten(@color, 8%), darken(@color, 8%));
	border: 1px solid @color;
	.border-radius(2px);
	.box-shadow(0 2px 2px #000);
	&:hover {
		.gradient-background(lighten(@color, 2%), darken(@color, 12%));
	}
}

/* clearfix */
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }


/* ---------------------
				 BASE
--------------------- */

html, body {
	height: 100%;
}
html {
	background: blanchedalmond;
	font: 500 13px/1.3em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header-wrapper {
	width: 100%;
	height: 40px;
	overflow: hidden;
	color: #e1e1e1;
	.gradient-background(#2d2d2d, #131313);
	.transition(height, .5s);
	&.showSettings { height: 250px; }
	#navbar {
		.navbar-left {
			float: left;
			padding: 0 0 0 20px;
			h1 {
				display: inline-block;
				margin-right: 50px;
				font-size: 24px;
				line-height: 1.5em;
				color: rgb(220,220,220);
				color: rgba(220,220,220,.6);
				text-shadow: 1px 2px 5px #131313, 0 0 0 rgba(180,180,180,.7);
				-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5));
				mask-image: linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5));
			}
			#run {
				.btn(@btn_green);
			}
			#save {
				.btn(@btn_blue);
			}
			#settings {
				.btn(@btn_black);
			}
		}
		.navbar-right {
			float: right;
			padding: 10px 20px;
			ul {
				display: inline-block;
				li {
					display: inline-block;
					padding-left: 15px;
					font-size: 16px;
					a {
						color: #ddd;
						text-decoration: none;
						&:hover {
							color: #bbf;
						}
					}
				}
			}
		}
	}
	#settings-container {
		position: relative;
		margin-top: 45px;
		padding: 10px;
	}
}



//--------------------
// Non-Editor Pages
//--------------------
#container {
	#container-inner {
		width: 1000px;
		margin: 40px auto 80px;
	}
	footer#footer {
		width: 1000px;
		margin: 40px auto 80px;
		color: #666;
		color: rgba(0,0,0,.4);
		a {
			color: #666;
			color: rgba(0,0,0,.4);
			&:hover {
				color: #555;
				color: rgba(0,0,0,.5);
			}
		}
	}
}



//--------------------
// Editor Page
//--------------------
#editor-container {
	display: table;
	width: 100%;
	#editor-inner {
		display: table-row;
		.editor-col {
			display: table-cell;
			position: relative;
			height: 300px;
			width: 33%;
			h3 {
				position: absolute;
				right: 10px; top: 10px;
				z-index: 1;
				font-size: 24px;
				color: #ccc;
				color: rgba(255,255,255,.2);
			}
			.editor {
				position: relative;
				width: 100%;
				height: 100%;
			}
		}
	}
}
#editor-divider {
	position: relative;
	z-index: 101;
	height: 3px;
	background: #666;
	cursor: ns-resize;
}
#preview-container {
	position: absolute;
	top: 343px;
	bottom: 0;
	left: 0;
	right: 0;
	#preview-cover {
		position: absolute;
		display: none;
		width: 100%;
		height: 100%;
	}
	#preview {
		width: 100%;
		min-height: 300px;
		height: 100%;
		background: white;
	}
}







